.art {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.art:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  position: relative;
  background: var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: capitalize;
}
.img {
  height: 500px;
  object-fit: contain;
  transition: var(--mainTransition);
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 1.5rem;
}
.link:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
	text-transform:capitalize;
  padding: 1rem;
  text-align: left;
}
.footer h3 {
	text-transform:capitalize;
  margin-bottom: 0;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.info h4 {
  margin-bottom: 0;
}
.description {
  /* text-transform: none; */
  color: var(--primaryColor);
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 0.4rem;
}
.details {
  color: var(--darkGrey);
  text-align: right;
}
@media screen and (max-width: 768px) {
  .img-container {
    text-align: center;
  }
}
